@import '../mixin';

#contact-us-section{
    margin-top: 25px;
    .contact-us-section{
        min-height: 100px; 
        margin-bottom: -50px;
        z-index: 2;
        position: relative;
        border-radius: 20px;
        padding: 25px 35px;
        .contact-us-kicker{
            font-size: 16px;
            color: #EC1E28;
            line-height: 1.2em;
        }
        .contact-text{
            font-size: 34px;
            font-weight: 600;
            max-width: 600px;
            line-height: 1.3em;
            margin: 10px 0;
        }

    }
}
footer{
    position: relative;
    background: #222431;
    color: #E4EFF0;
    border-radius: 50px 50px 0 0;
    a{
        color: #E4EFF0;
        text-decoration: none;
        &:hover{
            color: #E4EFF0;
            text-decoration: underline;
        }
    }
    .footer-content{
        padding: 100px 40px 50px 40px;
        display: flex;
        font-size: 14px;
        line-height: 1.3em;
        align-items: flex-start;
        justify-content: flex-start;
        h3{
            font-size: 18px;
            font-weight: bold;
        }
        .get-in-touch{
            width: 30%;
        }
        .follow-us{
            width: 15%;
            ul{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0;
                margin: 0;
                gap: 10px;
                list-style: none;
                li{
                    a{
                        font-size: 27px;
                    }
                }
            }
        }
        .site-map{
            width: 20%;
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                    justify-content: flex-start;
                    &:before{
                        content: '';
                        background: #ec1e27;
                        width: 3px;
                        height: 3px;
                        border-radius: 100%;
                        display: block;
                    }
                }
            }
        }
        .latest-news{
            width: 20%;
            .newsletter{
                margin-top: 10px;
                position: relative;
                input{
                    border: 1px solid #E4EFF0;
                    border-radius: 23px;
                    color: #E4EFF0;
                    background: #222431;
                }
                a{
                    position: absolute;
                    right: 1px;
                    top: 1px;
                    background: #ec1e27;
                    font-size: 19px;
                    padding: 8px 10px;
                    border-radius: 100%;
                }
            }
        }

        @include screen-mobile(){
            padding: 25px 0;
            flex-wrap: wrap;
            .tp-logo{
                width: 100%;
                text-align: center;
            }
            .quick-links{
                width: 100%;
                max-width: unset;
                margin-right: 0;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 25px 0;
                    li{
                        text-align: center;
                    }
                }
            }
            .contact-us{
                width: 100%;
                text-align: center;
            }
        }
    }

    .copyright{
       background: 222431;
    //    text-align: center; 
    //    padding: 10px 0;
       font-size: 12px;
       padding: 0 40px 20px;
       .img-logo{
            max-width: 125px;
            img{
                width: 100%;
            }
       }
    }

}