@import '../mixin';

header{
    position: relative;
    border-bottom: 1px solid #CEC3C3;
    nav.navbar.navbar-light{
        width: 100%;
        z-index: 999999;
        background: #fff;
        padding: 15px 0;
        .nav-logo{
            max-width: 180px;
            padding: 0;
            img{
                width: 100%;
            }
        }
        .navbar-collapse{
            position: absolute;
            left: 0;
            right: 0;
        }
        ul.navbar-nav{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: auto;
            gap: 15px;
            li{
                .mega-menu-dropdown{
                    display: inline-block;
                }
                a.nav-link{
                    font-size: 16px;
                    line-height: 1em;
                    color: #24345F;
                    font-weight: 600;
                    padding: 5px 10px;
                }

                opacity: 0;
                margin: 0;
                padding: 0;
                position: relative;
                transform: translateX(100%);
                animation: navFadeIn 0.5s cubic-bezier(0.42, 0.01, 0.23, 1) forwards;
                animation-delay: 0.8s;
                &:nth-child(2){
                    animation-delay: 0.85s;
                }
                &:nth-child(3){
                    animation-delay: 0.90s;
                }
                &:nth-child(4){
                    animation-delay: 1.05s;
                }
                &:nth-child(5){
                    animation-delay: 1.10s;
                }
                &:nth-child(6){
                    animation-delay: 1.15s;
                }
                &:nth-child(7){
                    animation-delay: 1.20s;
                }
                &:nth-child(8){
                    animation-delay: 1.25s;
                }
            }
        }

        @include screen-tablet(){
            ul.navbar-nav{
                li{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
        @media (max-width: 991px){
            .nav-logo{
                display: block;
                padding: 0;
                img{
                    width: 75px;
                }
            }
            ul.navbar-nav{
                li{
                    &.with-logo{
                        display: none;
                    }
                }
            }
        }

        @include screen-mobile{
            left: 0;
            top: 0;
        }
    }

    #navMegaMenuSolutions{
        width: 100%;
        margin: 0;
        border: none;
        border-radius: 0;
        border-top: 1px solid rgba(0, 0, 0, .15);
        padding: 20px 0;
        .mega-content{
            .col-md-9.border-left{
                border-left: 1px solid #EC1E28 !important;
            }
            h5{
                font-size: 24px;
            }
            .solutions-mega-menu{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 15px 5px;
                .menu-item{
                    padding: 0 25px;
                    align-self: stretch;
                    .link-header{
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 1.1em;
                    }
                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 5px 0 0;
                        li{
                            position: relative;
                            &:before{
                                content: "\f105";
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                margin-right: 10px;
                                color: #EC1E28;
                            }
                            a{
                                color: #819499;
                            }
                        }
                    }
                }
            }
        }
    }
}