@import '../mixin';

#inst-container{
    .banner{
        .bg-left{
            bottom: 0;
            left: 0;
        }
        .bg-right{
            right: 0;
        }
    }


    #hcp-recruitment{
        .section{
            padding: 0;
            margin: 40px auto;
            max-width: 1920px;
        }
        .section-two-cols{
            display: flex;
            align-items: flex-start; 
            justify-content: flex-start;
            gap: 2%;
            min-height: 450px;
            .col-item{
                width: 49%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                align-self: stretch;
                flex-direction: column;
            }
        }
    }
}