@import '../mixin';
#companies-container{
    .banner{
        .bg-left{
            bottom: 0;
            left: 0;
            width: 100px;
            height: 130px;
        }
        .bg-right{
            right: 0;
            width: 100px;
            height: 130px;
            transform: scale(-1, 1);
        }
    }

}
